<div class="footer-left-grid-item">
    <p><strong>BookScope</strong></p>
    <p>info@bookscope.org</p>
</div>
<div class="footer-center-grid-item">
    <nav class="sociallinks">
        <a href="https://facebook.com">
            <img src="/images/facebook.svg" alt="Facebook">
        </a>
        <a href="https://twitter.com">
            <img src="/images/twitter.svg" alt="X">
        </a>
        <a href="https://instagram.com">
            <img src="/images/instagram.svg" alt="Instagram">
        </a>
    </nav>
</div>
<div class="footer-right-grid-container">
    <p>WDD330 Class Project</p>
    <p>M. Serdar Özden</p>
</div>