<div class="header-container-h">
    <a href="/index.html">
        <img src="/images/logo.png" alt="Logo">
    </a>
    <div class="header-container-l">
        <a href="/index.html">
            <h1>BookScope</h1>
        </a>
    </div>
</div>
<button id="hamButton"></button>
<nav id="staticNav">
    <ul class="menuLinks">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/pages/books/books.html">Books</a></li>
        <li><a href="/pages/favorites/favorites.html">Favorites</a></li>
        <li><a href="/pages/about/about.html">About Us</a></li>
    </ul>
</nav>