@media screen and (min-width: 600px) {
    
    .cta-button {
        bottom: 20px;
        right: 20px;
    }

    #lastVisit {
        top: 20px;
        left: 20px;
    }



    /* Formatting testimonials and about us containers */

    .author-card {
        flex-direction: row;

    }

    .about-us-container {
        margin-right: 1rem;
    }


}