* {
    box-sizing: border-box;
}
:root {
    --dark-color: #222126;
    --grey-color: #C8C8C8;
    --orange-color: #FF9800;
    --white-color: #EEEEEE
}

main {
    background-color: var(--grey-color);
}

h1 {
    color: var(--dark-color);
    margin-left: 1rem;
    
}

h2 {
    font-size: medium;
}


/* Formatting CTA button */

.cta-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--orange-color);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #FE4C40;
}


/* Formatting authors */

.authors {
    background-color: var(--grey-color);
    color: black;
    padding: 1rem;
    font-size: small;
    font-size: medium;
    line-height: 1.5;
}

.author-card {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    align-items: center;

}

.author-card img {
    width: 150px;
    height: auto;
    margin-right: 1rem;
    padding: 0.5rem;
}

.author-card h2 {
    font-size: large;
}


