@media screen and (min-width: 600px) {
    
    .cta-button {
        bottom: 20px;
        right: 20px;
    }

    /* Formatting authors */

    .author-card {
        flex-direction: row;

    }

    .about-us-container {
        margin-right: 1rem;
    }


}