* {
    box-sizing: border-box;
}
:root {
    --dark-color: #222126;
    --grey-color: #C8C8C8;
    --orange-color: #FF9800;
    --white-color: #EEEEEE
}

main {
    background-color: var(--grey-color);
}

h1 {
    color: var(--dark-color);
    margin-left: 1rem;
    
}

h2 {
    font-size: medium;
}


/* Formatting Hero Image */

.hero {
    position: relative;

}

picture {
    background-color: var(--dark-color);
}

.hero img {
    width: 100%;
    height: auto;

}

.cta-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--dark-color);
    color: #ffffff;
    border: solid 2px var(--ornage-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}



/* Formatting authors and about us containers */

.authors {
    background-color: var(--grey-color);
    color: black;
    padding: 1rem;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    font-size: small;
    font-size: medium;
    line-height: 1.5;
}

.author-card {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    align-items: center;

}

.author-card img {
    width: 150px;
    height: auto;
    margin-right: 1rem;
    padding: 0.5rem;
}

.author-card h2 {
    font-size: large;
}


